In [1]:


import pandas as pd
import os
import numpy as np
from sklearn import metrics
from sklearn.model_selection import StratifiedKFold
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation

import seaborn as sns
import matplotlib.pyplot as plt
import datatable as dt

SEED = 123

data = dt.fread('~/jane-street-market-prediction/train.csv').to_pandas()

In [2]:
unique_dates = np.unique(data['date'] )
print(unique_dates)
np.random.shuffle(unique_dates)
print(unique_dates)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499]
[ 33 377   9 408 173  44  99 193 376 478 200 434 384 153 215 483  17 206
  15 177 131  67 187 213 105   3 274 114 421 437  14 288 301 165   6  88
   8 201   7 341 219  12  48 439 445 238 417 473 225 149 236   2 419 368
  62 208 468 367 391 279 286  91 442 180 474 263 489 449 303 125 306 465
 413  56  18 375 292 440 398 146 254 275 481 251 371 207 162   0 388 287
 386 160 294 228 141 420 101  93 343 100  58 189 262 226 460 188 167 424
   1  80  19 299 233 111 452  52 317 154 280 216  34  45  30 209 240  63
  53 227 116  49 191  11 235 243 115 171 400 357 202 157 172  81 362  86
  37  38 273 397 109  92  46 214 349 366 181 122 139 242  23 332 406  29
 106 441 250 269  75  82 418 344  84 355 415 436 290 361 359 498 136 276
 249 297 462 184 340 176  66 405 430 110 132 145 472 429 318  13 112  26
 308 416 407 404 389  71 335 347 199 426 159 364 130 486  22 104 409 128
 252  60 313  68 496 174 374  70  10 283 422  21 372 257  57 152 129 396
 342 331 458 255 490  78 103 168 314 328 305 321 383 223 218  55 425  35
 356  27 488 410 493 282  69 345 185  28 325 385 127 230 485 329 463  16
 497 387 221 358 334 119  32 148 311 484 194 338 237   4 307 337 293 120
 147 144  20 446 323  39 256 395 285 178 117 190 210 393 401 451 456 232
 295 175 414 450 248 379  41 431  97 370  43 266  65 260 469 302 300 259
 261  76  50 443  77 457 133  74 495  87  31 346 203  79 179 466 151 464
 454 310 192 471  96 499 169 315   5 380 403 126 304 435 170 291 487 258
  59 320 204 402 447 482  98 284 121 143 494 330 322  90 333 155 444  25
  73 479 348 102 480 220 264 392 378 278 183 229 196 339 107 316 350  64
 245 138 459 476 365 166  85 360 140 113 363 296 197 289 475 491 135  47
 324 222  24 224  89  94 244 234 265 211 239 427  36 123 438 281 108 382
 319 399 354 390 453 253 477 241 423 352 205 470 309 124  95 163 326 182
 467 298 428 164 267 231 492 134 158 247 217 448  42  54  51  72 150 394
 271 246 455 195 198 336 118 432 312 186 412  40 373 327 268 161 272 156
 411 142 353 212 381  61  83 270 137 461 433 351 369 277]

In [4]:
folds = 5
idx = np.linspace(start = 0, stop = len(unique_dates)-1, num = folds + 1, dtype = int)

In [24]:
fold_index = []
folds_df = pd.DataFrame()
for f in range(0,folds):
    mask = data['date'].isin(unique_dates[idx[f]:idx[f+1]] )
    fold_index.append(mask)
    folds_df = pd.concat([folds_df,mask],axis = 1)

In [47]:
header_str[1]

'date'

In [50]:
header_str = []
for f in range(0,folds):
    header_str.append(folds_df.columns[f] + '_'+ str(f))

In [52]:
folds_df.columns = header_str

In [53]:

folds_df.to_csv('~/jane-street-market-prediction/params/kfolds.csv', index=False)

In [54]:
mask_df = pd.read_csv('~/jane-street-market-prediction/params/kfolds.csv')

In [59]:
data[mask_df['date_'+str(0)]]

,date,weight,resp_1,resp_2,resp_3,resp_4,resp,feature_0,feature_1,feature_2,...,feature_121,feature_122,feature_123,feature_124,feature_125,feature_126,feature_127,feature_128,feature_129,ts_id
0,0,0.000000,0.009916,0.014079,0.008773,0.001390,0.006270,1,-1.872746,-2.191242,...,NaN,1.168391,8.313583,1.782433,14.018213,2.653056,12.600292,2.301488,11.445807,0
1,0,16.673515,-0.002828,-0.003226,-0.007319,-0.011114,-0.009792,-1,-1.349537,-1.704709,...,NaN,-1.178850,1.777472,-0.915458,2.831612,-1.417010,2.297459,-1.304614,1.898684,1
2,0,0.000000,0.025134,0.027607,0.033406,0.034380,0.023970,-1,0.812780,-0.256156,...,NaN,6.115747,9.667908,5.542871,11.671595,7.281757,10.060014,6.638248,9.427299,2
3,0,0.000000,-0.004730,-0.003273,-0.000461,-0.000476,-0.003200,-1,1.174378,0.344640,...,NaN,2.838853,0.499251,3.033732,1.513488,4.397532,1.266037,3.856384,1.013469,3
4,0,0.138531,0.001252,0.002165,-0.001215,-0.006219,-0.002604,1,-3.172026,-3.093182,...,NaN,0.344850,4.101145,0.614252,6.623456,0.800129,5.233243,0.362636,3.926633,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2335939,489,0.000000,-0.000059,-0.000059,-0.000930,-0.008449,-0.005789,1,-1.953012,-1.825455,...,-2.384486,-1.125181,0.374372,-1.678955,-2.763350,-2.406755,-1.314956,-1.421907,0.109313,2335939
2335940,489,0.000000,0.000346,0.000346,-0.000200,-0.001999,-0.001313,-1,-1.093580,-0.308872,...,-0.937643,-1.864301,2.394599,-2.370054,-0.312073,-3.317327,1.023902,-2.057109,2.593925,2335940
2335941,489,0.000000,0.000270,0.000270,-0.000416,0.002360,0.006483,-1,-1.140352,-0.681436,...,-2.130481,-1.143322,-0.328897,-1.453351,-2.812128,-2.248055,-1.705126,-1.632931,-0.999637,2335941
2335942,489,0.000000,0.006914,0.006914,0.004074,-0.017254,-0.017884,-1,1.911317,0.753140,...,-1.070076,2.878417,0.354457,1.798903,-0.709118,3.122721,-0.039724,3.135445,0.229055,2335942
2335943,489,0.000000,0.000835,0.000835,0.016151,0.040351,0.029540,-1,0.832427,-0.034935,...,-2.173323,-0.610736,-1.429112,-0.746617,-2.959842,-1.269910,-2.238614,-1.191447,-2.057664,2335943

In [5]:
 def create_mlp2(
    num_columns, num_labels, hidden_units, dropout_rates, label_smoothing, learning_rate
):

    inp = tf.keras.layers.Input(shape=(num_columns,))
    x = tf.keras.layers.BatchNormalization()(inp)
    #x = tf.keras.layers.BatchNormalization()(inp)
    x = tf.keras.layers.Dropout(dropout_rates[0])(x) #(x)
    
    for i in range(len(hidden_units)):
        x = tf.keras.layers.Dense(hidden_units[i])(x)
        x = tf.keras.layers.BatchNormalization()(x)
        x = tf.keras.layers.Activation(tf.keras.activations.relu)(x)
        #x = tf.keras.layers.Activation(tf.keras.activations.swish)(x)
        x = tf.keras.layers.Dropout(dropout_rates[i + 1])(x)
        x = tf.keras.layers.Concatenate(axis=1)([x, inp])
        x = tf.keras.layers.BatchNormalization()(x)
        x = tf.keras.layers.Dense(hidden_units[i])(x)
        x = tf.keras.layers.Dropout(dropout_rates[i + 1])(x)

    x = tf.keras.layers.Dense(num_labels)(x)
    out = tf.keras.layers.Activation("sigmoid")(x)

    model = tf.keras.models.Model(inputs=inp, outputs=out)
    model.compile(
        optimizer=tf.keras.optimizers.Adam(learning_rate=learning_rate),
        loss=tf.keras.losses.BinaryCrossentropy(label_smoothing=label_smoothing),
        metrics=tf.keras.metrics.AUC(name="AUC"),
    )

    return model

In [ ]:

idx = np.linspace(start = 0, stop = len(unique_dates)-1, num = folds + 1, dtype = int)
for f in range(folds):
    mask = mask_df['date_'+ str(0)]
    train = data[~mask]
    val = data[mask]
    
    train.fillna(train.mean(),inplace=True)

    features = [c for c in train.columns if "feature" in c]

    f_mean = np.mean(train[features[1:]].values,axis=0)

    X_train = train.loc[:, train.columns.str.contains('feature')]
    y_train = (train.loc[:, 'action'])
    

    batch_size = 5000
    hidden_units = [260, 260, 130]
    dropout_rates = [0.2, 0.2, 0.2, 0.2]
    label_smoothing = 1e-2
    learning_rate = 1e-3

    clf = create_mlp2(
        len(features), 1, hidden_units, dropout_rates, label_smoothing, learning_rate
        )

    clf.fit(X_train, y_train, epochs=200, batch_size=20000)

    opt_th = 0.5000

In [ ]:
pred_df = train[['date', 'resp','weight']]
pred_df['actual'] = ((train['resp'].values) > 0).astype(int)
preds = clf(X_train.values, training=False)
pred_df['preds'] = preds.numpy()
pred_df['action'] = (pred_df['preds'] >= 0.5) * 1

In [ ]:
from math import sqrt

def utility_score(df,action_vec):
    """Calculate utility score of a dataframe according to formulas defined at
    https://www.kaggle.com/c/jane-street-market-prediction/overview/evaluation
    """

    p = df['weight']  * df['resp'] * action_vec
    df['p'] = p
    p_i = df.set_index('date')['p'].groupby('date').sum()
    t = (p_i.sum() / sqrt((p_i**2).sum())) * (sqrt(250 / p_i.index.size))
    return min(max(t, 0), 6) * p_i.sum()

In [ ]:
pred_df['preds'] = preds.numpy()

In [ ]:
pred_df['action'] = (pred_df['preds'] >= 0.5) * 1

In [ ]:
utility_score(pred_df, pred_df['action']) / utility_score(pred_df, pred_df['actual'])