In [5]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

In [8]:

!pip install numpy
!pip install pandas

!pip install matplotlib
!pip install xgboost
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.1-py3-none-any.whl (285 kB)
     |████████████████████████████████| 285 kB 1.5 MB/s eta 0:00:01
Requirement already satisfied: matplotlib>=2.2 in /home/x99e/anaconda3/envs/kaggle_tf/lib/python3.8/site-packages (from seaborn) (3.3.3)
Requirement already satisfied: scipy>=1.0 in /home/x99e/anaconda3/envs/kaggle_tf/lib/python3.8/site-packages (from seaborn) (1.6.0)
Requirement already satisfied: numpy>=1.15 in /home/x99e/anaconda3/envs/kaggle_tf/lib/python3.8/site-packages (from seaborn) (1.19.5)
Requirement already satisfied: pandas>=0.23 in /home/x99e/anaconda3/envs/kaggle_tf/lib/python3.8/site-packages (from seaborn) (1.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/x99e/anaconda3/envs/kaggle_tf/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /home/x99e/anaconda3/envs/kaggle_tf/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in /home/x99e/anaconda3/envs/kaggle_tf/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (8.1.0)
Requirement already satisfied: cycler>=0.10 in /home/x99e/anaconda3/envs/kaggle_tf/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/x99e/anaconda3/envs/kaggle_tf/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: six in /home/x99e/anaconda3/envs/kaggle_tf/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /home/x99e/anaconda3/envs/kaggle_tf/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2020.5)
Installing collected packages: seaborn
Successfully installed seaborn-0.11.1

In [11]:
filepath = '~/jane-street-market-prediction/train.csv'
df = pd.read_csv(filepath)

In [12]:
df.head()

,date,weight,resp_1,resp_2,resp_3,resp_4,resp,feature_0,feature_1,feature_2,...,feature_121,feature_122,feature_123,feature_124,feature_125,feature_126,feature_127,feature_128,feature_129,ts_id
0,0,0.000000,0.009916,0.014079,0.008773,0.001390,0.006270,1,-1.872746,-2.191242,...,NaN,1.168391,8.313583,1.782433,14.018213,2.653056,12.600292,2.301488,11.445807,0
1,0,16.673515,-0.002828,-0.003226,-0.007319,-0.011114,-0.009792,-1,-1.349537,-1.704709,...,NaN,-1.178850,1.777472,-0.915458,2.831612,-1.417010,2.297459,-1.304614,1.898684,1
2,0,0.000000,0.025134,0.027607,0.033406,0.034380,0.023970,-1,0.812780,-0.256156,...,NaN,6.115747,9.667908,5.542871,11.671595,7.281757,10.060014,6.638248,9.427299,2
3,0,0.000000,-0.004730,-0.003273,-0.000461,-0.000476,-0.003200,-1,1.174378,0.344640,...,NaN,2.838853,0.499251,3.033732,1.513488,4.397532,1.266037,3.856384,1.013469,3
4,0,0.138531,0.001252,0.002165,-0.001215,-0.006219,-0.002604,1,-3.172026,-3.093182,...,NaN,0.344850,4.101145,0.614252,6.623456,0.800129,5.233243,0.362636,3.926633,4

Collecting xgboost
  Downloading xgboost-1.3.1-py3-none-manylinux2010_x86_64.whl (157.5 MB)
     |████████████████████████████████| 157.5 MB 3.7 MB/s eta 0:00:01    |██████▏                         | 30.5 MB 4.8 MB/s eta 0:00:27     |███████████▏                    | 54.8 MB 6.9 MB/s eta 0:00:15     |████████████████████▏           | 99.1 MB 6.6 MB/s eta 0:00:09     |████████████████████████████▋   | 140.8 MB 5.7 MB/s eta 0:00:03
Requirement already satisfied: numpy in /home/x99e/anaconda3/envs/kaggle_tf/lib/python3.8/site-packages (from xgboost) (1.19.5)
Collecting scipy
  Downloading scipy-1.6.0-cp38-cp38-manylinux1_x86_64.whl (27.2 MB)
     |████████████████████████████████| 27.2 MB 4.6 MB/s eta 0:00:01
Installing collected packages: scipy, xgboost
Successfully installed scipy-1.6.0 xgboost-1.3.1