In [1]:


import pandas as pd
import os
import numpy as np
from sklearn import metrics
from sklearn.model_selection import StratifiedKFold
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation

import seaborn as sns
import matplotlib.pyplot as plt
import datatable as dt
import timer
js_path = '~/jane-street-market-prediction/'

In [2]:
SEED = 123

t = timer.Timer()
t.start()
import datatable as dt
data = dt.fread('~/jane-street-market-prediction/train.csv').to_pandas()


t.stop()

Elapsed time: 9.7380 seconds

In [5]:
pd.concat([data['resp'].shift(1),data['resp']],axis = 1).corr()

          resp      resp
resp  1.000000  0.027825
resp  0.027825  1.000000

In [6]:
data['action'] = 1* (data['resp'] > 0)

In [7]:
data['action']

0          1
1          0
2          1
3          0
4          0
          ..
2390486    1
2390487    0
2390488    1
2390489    0
2390490    0
Name: action, Length: 2390491, dtype: int64

In [9]:
pd.concat([data['action'].shift(1),data['action']],axis = 1)

         action  action
0           NaN       1
1           1.0       0
2           0.0       1
3           1.0       0
4           0.0       0
...         ...     ...
2390486     1.0       1
2390487     1.0       0
2390488     0.0       1
2390489     1.0       0
2390490     0.0       0

[2390491 rows x 2 columns]

In [13]:
pd.concat([data['action'].rolling(3).mean(),data['action']],axis = 1)

           action  action
0             NaN       1
1             NaN       0
2        0.666667       1
3        0.333333       0
4        0.333333       0
...           ...     ...
2390486  1.000000       1
2390487  0.666667       0
2390488  0.666667       1
2390489  0.333333       0
2390490  0.333333       0

[2390491 rows x 2 columns]

In [14]:
data['resp_bin'] = pd.qcut(data['resp'], 10, labels=False)

In [21]:
pd.qcut(data['resp'], 20)

0             (0.00541, 0.00754]
1           (-0.00995, -0.00716]
2               (0.0219, 0.0373]
3           (-0.00348, -0.00215]
4           (-0.00348, -0.00215]
                   ...
2390486         (0.0148, 0.0219]
2390487     (-0.00509, -0.00348]
2390488         (0.0148, 0.0219]
2390489    (-0.00215, -0.000991]
2390490    (-0.00215, -0.000991]
Name: resp, Length: 2390491, dtype: category
Categories (20, interval[float64]): [(-0.55, -0.0353] < (-0.0353, -0.0208] < (-0.0208, -0.0141] < (-0.0141, -0.00995] ... (0.0105, 0.0148] < (0.0148, 0.0219] < (0.0219, 0.0373] < (0.0373, 0.448]]

In [24]:
list(pd.qcut(data['resp'], 20).value_counts().index.sort_values())

[Interval(-0.55, -0.0353, closed='right'),
 Interval(-0.0353, -0.0208, closed='right'),
 Interval(-0.0208, -0.0141, closed='right'),
 Interval(-0.0141, -0.00995, closed='right'),
 Interval(-0.00995, -0.00716, closed='right'),
 Interval(-0.00716, -0.00509, closed='right'),
 Interval(-0.00509, -0.00348, closed='right'),
 Interval(-0.00348, -0.00215, closed='right'),
 Interval(-0.00215, -0.000991, closed='right'),
 Interval(-0.000991, 8.63e-05, closed='right'),
 Interval(8.63e-05, 0.00118, closed='right'),
 Interval(0.00118, 0.00236, closed='right'),
 Interval(0.00236, 0.00373, closed='right'),
 Interval(0.00373, 0.00541, closed='right'),
 Interval(0.00541, 0.00754, closed='right'),
 Interval(0.00754, 0.0105, closed='right'),
 Interval(0.0105, 0.0148, closed='right'),
 Interval(0.0148, 0.0219, closed='right'),
 Interval(0.0219, 0.0373, closed='right'),
 Interval(0.0373, 0.448, closed='right')]

In [25]:
data['wresp'] = data['resp'] * data['weight']

In [ ]:
data['wresp_bin'] = pd.qcut(data['resp'], 10, labels=False)
list(pd.qcut(data['resp'], 20).value_counts().index.sort_values())